.reason {
    padding: 43px 0 51px 0;
    &__title {
        width: 470px;
        margin: 0 auto;
        font-size: 21px;
        line-height: 26px;
        text-align: center;
    }
    &__descr {
        text-align: center;
    }
}
