.breadcrumbs {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    a {
        text-decoration: none;
        color: var(--basic-black);
        opacity: 0.3;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        &:hover,
        &:focus {
            text-decoration: underline;
            color: var(--basic-blue);
        }
    }
    &-current {
        a {
            color: var(--basic-blue);
        }
    }
    li {
        position: relative;
        margin-right: 33px;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        cursor: pointer;
        &:last-child {
            margin-right: 0;
        }
    }
}

.sort {
    min-height: 86px;
    padding: 29px 73px 31px 73px;
    box-sizing: border-box;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__menu {
        display: flex;
    }
    &__title {
        margin: 0;
        margin-right: 46px;
        font-size: 21px;
        font-weight: 700;
        line-height: 26px;
    }
    &__arrows {
        display: flex;
        align-items: center;
        &-up,
        &-down {
            padding: 6px;
            width: 11px;
            height: 11px;
            align-items: center;

            path {
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
                &:hover {
                    fill: var(--basic-black);
                }
                &:active {
                    fill: var(--basic-blue);
                }
            }
        }
    }
}
