.sidepanel {
    position: fixed;
    top: 230px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    height: 240px;
    &__link {
        &:hover {
            svg path {
                transition: all 0.5s;
                fill: $main-color;
            }
        }
    }
    &__divider {
        width: 2px;
        height: 70px;
        background: #000;
    }
    &__text {
        height: 25px;
        width: 15px;
        font-weight: 700;
        span {
            transform: rotate(-90deg) translate(-35%, -285%);
            display: block;
            width: 150px;
        }
    }
}
