.button {
    width: 153px;
    height: 32px;
    background-color: $main-color;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    &_main {
        width: 303px;
        height: 54px;
        font-size: 16px;
        margin-top: 79px;
    }
    &_submit {
        height: 58px;
        width: 100%;
        font-size: 16px;
        color: #ffffff;
    }
    &_mini {
        width: 135px;
        height: 44px;
        font-size: 14px;
    }
}
